
@font-face {
    font-family: Faktum;
    src: url('../font/Faktum-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Faktum;
    src: url('../font/Faktum-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: Faktum;
    src: url('../font/Faktum-SemiBold.otf') format('opentype');
    font-weight: 600;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--caju__red); 
    border-radius: 6px; 
    border: 0px solid #F5F5F5; 
}

::-webkit-scrollbar {
    width: 6px; 
    height: 12px;
    background-color: #F5F5F5;
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb {
    background-color: #cdcdcd; 
    border-radius: 6px; 
    border: 0px solid #F5F5F5; 
}

::-webkit-scrollbar-corner {
    background-color: transparent; 
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Faktum', sans-serif !important;
    box-sizing: border-box !important;
}

body {
    /* overflow-x: hidden; */
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 16px;
}

h1, h2, h3 {
    width: 100%;
}

:root {
    --caju__red: #E80537;
    --caju__red--hover: #d3002e;
    --caju__orange: #FF7500;
    --caju__orange--hover: #db6600;
    --radius__strong: 50px;
}

.btn__red, .btn__orange, .btn__white {
    display: block;
    padding: 14px 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    transition: .2s;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: max-content;
    text-decoration: none;
    color: white;
}

.btn__red:hover, .btn__orange:hover {
    transition: .2s;
}

.btn__red {
    background: var(--caju__red);
    font-weight: 400;
}

.btn__orange {
    background: var(--caju__orange);
}

.btn__white {
    background: white;
    color: var(--caju__red);
}

.btn__red:hover {
    background: var(--caju__red--hover);
}

.btn__orange:hover {
    background: var(--caju__orange--hover);
}

.btn__white:hover {
    background: rgb(226, 226, 226);
}

p {
    line-height: 24px;
    letter-spacing: 0.3px;
}

.margin--body {
    width: calc(100% - 80px);
    max-width: 1160px;
    margin: auto;
}

.global-icon__list--icon { 
    width: 30px;
}

.global-icon__list--container { 
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 21px;
    z-index: 1;
    margin-top: 80px;
}
.global-icon__list { 
    display: flex;
    align-items: center;
    gap: 14px;
}

.margin {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex {
    display: flex;
}

body {
    margin: auto;
}

/* Navegação */


nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 80px;
    padding: 0 100px;
    gap: 40px;
    width: 100%;
    z-index: 100;  
}

.navegacao {
    display: flex;
    gap: 36px;
}

.navegacao__logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navegacao__logo--1 {
    width: 100px;
}
.navegacao__logo--2 {
    width: 20px;
}
.navegacao__logo--3 {
    width: 60px;
}

.navegacao__link {
    display: flex;
    gap: 26px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: .2s;
}

.navegacao__link:hover {
    transition: .2s;
    color: var(--caju__red);
}

/* Banner */

header {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 50vw; 
    width: 100%;
    min-height: 636px;
    max-height: 80vh;
    margin-top: 80px;
    background: black;
}

.header__background {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    font-size: 1.375rem;
    color: white;
    gap: 24px;
}

.h1__banner {
    width: 500px;
}

.banner__subtitle {
    font-size: 1rem;
    font-weight: 400;
}

/* Cartão */
 
.cartao {
    margin: 100px 0 60px 0;
}

.cartao__video {
    border-radius: 14px;
    width: 100%;
    max-width: 560px;
    height: 315px;
    background: black;
    background-image: url('../src/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.cartao__h2 {
    text-wrap: nowrap;
    color: var(--caju__red);
    margin-bottom: 24px;
}

.cartao__row--1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.cartao__row--2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 500px;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 140px;
}

.cartao__img {
    width: 80%;
    margin: auto;
}

.cartao__h5 {
    color: var(--caju__red);
    font-size: 1.25rem;
}

.cartao__icon {
    width: 24px; 
}

.cartao__text {
    font-size: 14px;
}

.cartao__margin {
    margin-top: 40px;
}

.cartao__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.cartao__cont .flex{
    gap: 8px;
    margin-bottom: 10px;
}

.cartao__iframe {
    display: flex;
    justify-content: center;
}

/* Beneficios */

section {
    position: relative;
}

.beneficios {
    position: relative;
    z-index: 1;
}

.background--beneficio {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.section__beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    width: 100%;
    margin-bottom: 80px;
}

.beneficios__grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.beneficios__red {
    width: 100%;
    border-radius: 30px;
    background: #E80537;
    height: 600px;
    padding: 28px;
    margin-top: 500px;
}

.beneficios__calling {
    color: white;
    width: max-content;
}

.beneficios__svg {
    margin-left: 20px;
    width: 238px;
}

.beneficios__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.beneficios__card--title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    z-index: 1;
}

.beneficios__card--h3 {
    height: 42px;
    font-size: 1.5rem;
}

.beneficios__card {
    position: relative;
    display: flex;    
    flex-direction: column;
    border: 8px;
    border-radius: 14px;
    padding: 12px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    height: 252px;
    
}

.beneficios__text {
    font-size: 14px;
    font-weight: 300;
    overflow: auto;
    height: 120px;
    padding-right: 14px;
}

.beneficios__saldo {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4px;
    bottom: 20px;
    left: 20px;
    background: white;
    color: black;
    height: max-content;
    border: none;
    border-radius: 6px;
    padding: 4px 6px;
    cursor: pointer;
}

.beneficios__saldo:hover .ballon {
    opacity: 1;
    transition: .3s;
    pointer-events: default;
}

.ballon p {
    line-height: 18px;
    font-size: 14px;
    width: max-content;
}

.ballon {
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    position: absolute;
    display: flex;
    width: max-content;
    justify-content: center;
    background: #252525;
    border-radius: 6px;
    color: white;
    padding: 10px;
    bottom: -60px;
    transform: translate(calc(-50% + 32px));
    text-wrap: nowrap;
    z-index: 2;
}

.arrow {
    position: absolute;
    display: block;
    background: #252525;
    transform: rotate(45deg);
    top: -4px;
    width: 14px;
    height: 14px;
    z-index: 1;
}

/* Surpreenda */

.surpreenda {
    position: relative;
    background: #FFE6EC;
    width: 100%;
}

.surpreenda__grafismo-1,
.surpreenda__grafismo-2 {
    position: absolute;
}

.surpreenda__grafismo-1 {
    left: 0;
    top: 34%;
}

.surpreenda__grafismo-2 {
    right: 0;
    top: 74%;
}

.surpreenda--container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    gap: 40px;
    padding: 80px 0;
    z-index: 1;
}

.surpreenda__icon {
    width: 40px;
}

.surpreenda__img { 
    width: 243px;
}
.surpreenda__padding--bottom {
    padding-bottom: 40px;
}

.surpreenda__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Premiações */

.premiacoes {
    text-align: center;
    padding: 80px 0;
    padding-top: 60px;
}

.premiacoes .btn__red {
    margin-top: 80px;
}

.premiacoes__h2 {
    color: var(--caju__red);
    width: max-content;
    margin: auto;
    margin-bottom: 50px;
    font-weight: bold;
    width: 100%;
}

.premiacoes__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 40px;
    width: 80%;
    min-width: 800px;
    margin: auto;
}

.premiacoes__card {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.premiacoes__p{
    text-wrap: nowrap;
    font-weight: 600;
}

/* Soluções */

.section__solucoes {
    margin-top: 400px;
    background: #5D0216;
}

.solucoes {
    position: relative;
    color: white;
    padding: 50px 0;
    z-index: 2;
}

.solucoes__background {
    position: absolute;
    height: 700px;
    width: 100%;
    top: -400px;
    object-fit: cover;
}

.solucoes__h2 {
    margin-bottom: 24px;
}

.solucoes__logo-despesas {
    width: 228px;
}

.solucoes__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
    margin-bottom: 100px;
}

.solucoes__grafismo {
    position: absolute;
    top: 500px;
    right: 0;
}

.solucoes__img--grid {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.solucoes__reembolso {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.solucoes__h3 { 
    font-size: 1.875rem;
    margin: auto;
    text-align: center;
    width: max-content;
    margin-top: 130px;
    margin-bottom: 70px;
}

.solucoes__header { 
    position: relative;
    background-color: #5D0216;
    padding: 100px 100px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    z-index: 1;
}         

.solucoes__group {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 60px 40px;
    flex-wrap: wrap;
}

.group__container {
    max-width: 360px;
}

.group__icon {
    width: 120px;
    margin-right: 20px;
}

.group__title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.group__text {
    font-family: Faktum;
    font-weight: 400;
    font-size: 1rem;
}

/* pacote */ 

.pacote {
    position: relative;
    padding: 100px 0;
    background: var(--caju__orange);
    color: white;
}

/* .pacote div {
    position: relative;
    z-index: 1;
} */

.pacote__grafismo {
    position: absolute;
    top: 340px;
}

.pacote__h2 {
    text-wrap: nowrap;
    margin-bottom: 24px;
}

.pacote__h3 {
    text-align: center;
    margin: auto;
    margin-top: 64px;
}

.pacote__grid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 140px;
}

.pacote__tag--container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 254px;
    left: -100px;
}

.pacote__tag {
    display: flex;
    justify-content: center;
    background: var(--caju__red);
    padding: 10px 30px;
    border-radius: 15px;
}

.pacote__tag--img {
    height: 50px;
}

.pacote__column--1 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.pacote__img {
    height: 500px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.pacote__img img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
} 

.pacote__title {
    font-size: 1.25rem;
    font-weight: 600;
}

.pacote--container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}

.pacote-v-for {
    max-width: calc(33.33% - 80px);
    min-width: 300px;
    margin-bottom: 76px;
}

.pacote--icon {
    align-items: flex-start;
    margin-bottom: 10px;
}

/* descontos */ 

.descontos {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    background: var(--caju__red);
    color: white;
}

.descontos__btn__white{
    margin-top: 60px;
}

.descontos__grafismo {
    position: absolute;
    right: 0;
    top: -200px;
    width: 220px;
}

.descontos__h2 {
    margin-bottom: 24px;
}

.descontos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
    gap: 40px;
}

.descontos__group--1 {
    width: 80%;
}

.descontos__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 360px;
    margin: auto;
    gap: 96px;
    white-space: nowrap;
}

.descontos__img {
    position: relative;
    border-radius: var(--radius__strong);
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.descontos__img img {
    position: absolute;
    width: 100%;
    min-height: 380px;
    bottom: 0;
}

/* Contato */

.contato {
    position: relative;
    background-image: url('../src/images/foto-caju-home-office.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}

.contato__grafismo {
    position: absolute;
    left: 0;
    bottom: -200px;
}

.contato__container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    height: max-content;
    justify-items: center;
}

.contato__h3 {
    margin-top: 200px;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    border-radius: 30px;
    height: calc(100% - 80px);
    width: 100%;
    margin: 40px 0;
    background: var(--caju__orange);
}

.form__input {
    border-radius: 6px;
    border: none;
    height: 40px;
}

.form .btn__red {
    width: 100%;
}

.form__btn__red {
    margin-top: 12px;
}

/* Footer */

footer {
    position: relative;
    padding-top: 100px;
}

.footer__grafismo {
    right: 0;
    position: absolute;
}

.footer__h2 {
    margin-bottom: 70px;
    text-align: center;
}

.reconhecimento {
    position: relative;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 100px;
    z-index: 1;
}

.reconhecimento__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reconhecimento__h2 {
    color: var(--caju__red);
    margin-bottom: 10px;
}

.reconhecimento__group img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.reconhecimento__group p {
    font-size: 1.125rem;
    font-weight: 600;   
}

.rodape {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    font-size: 12px;
    color: gray;
    padding: 20px 40px;
    z-index: 1;
}   

.rodape p {
    line-height: 18px;
}
/*  */